<EditForm Model="Interactive.SignInForm" OnValidSubmit="Submit">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <span>username:</span>
    <MatTextField TValue="string" @bind-Value="Interactive.SignInForm.UserName" Label="username"></MatTextField>
    <span>private message user:</span>
    <MatTextField TValue="string" @bind-Value="Interactive.SignInForm.OtherUser" Label="other user"></MatTextField>
    <span>team name:</span>
    <MatTextField TValue="string" @bind-Value="Interactive.SignInForm.TeamName" Label="team name"></MatTextField>
    <MatButton Type="submit" Raised="true">Start Interactive Mode</MatButton>
</EditForm>
